.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
.page {
  border: 1px solid #f00;
}


.appbar {
  height: 56px;
  color: #fff;
  background-color: #333;
}

.tabList {
  display: flex;
  align-items: center;
}
.tabItem {
  margin-right: 8px;
}

