/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


body {
  position: relative;
  color: #333;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  /* overflow-y: hidden; */
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.webviewBox {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100000000;
}
.webviewClose {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 100000000;
  cursor: pointer;
  text-shadow: 0.5px 0.5px 2px #fff;
  color: #000;
}

.article {

}

.ui-btn {
    margin-right: 8px;
    background-color: #f00;
    color: #fff;
}